<ul *ngFor="let data of vehicleData | stringFilter: this.manufacturerName ">
  <div *ngIf="data['VehicleTypes'].length > 0">
    <span class="manfacturer_name">{{data.Mfr_Name}}:</span>
    <li class="vehicle_list" *ngFor="let vehicle of data['VehicleTypes']">
      <span class="vehicle_name">{{vehicle.Name}}</span>
    </li>
  </div>
</ul>